/* OrderManagement.css */
body {
  font-family: "Pretendard", sans-serif;
}

.order-management {
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34px 60px;
  position: sticky;
  top: 0;
  background-color: #fff;
  width: 100%;
  z-index: 100;
}

.header h1 {
  color: #2D2E30;
  font-size: 40px;
  font-weight: 600;
}

.controls {
  display: flex;
  align-items: center;
  gap: 16px;
}

.date-picker {
  padding: 14px 16px;
  border: 1px solid #D2D3D7;
  border-radius: 8px;
}

.orders-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

/* Button Styles */
.btn {
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary {
  background: #2D2E30;
  color: #FFF;
  border: none;
}

.btn-secondary {
  background: #FFF;
  color: #2D2E30;
  border: 1px solid #EAEBEC;
}

.order-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 250px;
  flex: 1;
}

.orders-container { 
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 60px 120px 60px;
  margin-top: 20px;
  height: calc(100vh - 80px);
  overflow-y: auto;
}

.hour-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hour-title-container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 0;
  border-bottom: 1px solid #EAEBEC;
}

.hour-title {
  color: #2D2E30;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.orders-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-bottom: 20px;
}