* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none; /* 스크롤 바운스 효과 비활성화 */
}

.app {
  display: flex;
  height: 100vh; /* 전체 화면 높이를 차지하게 설정 */
}

.main-content {
  flex: 1;
  overflow: hidden;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

input, select {
  padding: 10px;
  margin: 10px 0;
}
